<launch>
    <arg name="xacro_path"   default="$(find ur5_allegro_moveit)/models/ur5_allegro.xacro" />
    <arg name="urdf_args"   default=""/>
    <!-- <arg name="load_xacro"   default="true"/> -->
    <arg name="viz"   default="true"/>
    <arg name="joint_state_gui"   default="False"/>
    <arg name="debug_mode"   default="False"/>
    <arg name="sim"   default="True"/>
    <arg name="world_name"   default="calibration-world.xml"/>
    
    <group if="$(arg sim)"> 
        <include file="$(find allegro_mujoco)/launch/mujoco_ros_communication.launch">
                    <arg name="rviz"   value="false"/>
                    <arg name="render" value="true"/>
                    <arg name="load_robot" value="ur5_allegro"/>
                    <arg name="world_model_file" type="str" value="$(find allegro_mujoco)/config/worlds/$(arg world_name)" />
        </include>
    </group>
    <group>
        <include file="$(find allegro_hand_kdl)/launch/gravity_compensate.launch">
          <!-- <arg name='TORQUE_TOPIC' value='/allegroHand_0/torque_cmd'/> -->
        </include>
        

        
        <include file="$(find allegro_hand_kdl)/launch/combine_torques.launch">
         <!-- output="log"> -->
        </include>
    </group>
    

    <!-- <group if="$(arg load_xacro)"> -->
        <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base2common_world" args="0 0 0 0 0 0 1 base_link common_world" /> -->
    <!-- </group> -->

        <!-- <node pkg="tf" type="static_transform_publisher" name="leap_center2palm_link" args="0 0 0 0 0 0 1 leap_hand_center palm_link 100" /> -->
    <!-- <group> -->
        <!-- <include file="$(find ur5_allegro_moveit)/launch/planning_context.launch"> -->
            <!-- <arg name="load_robot_description" value="False"/> -->
        <!-- </include> -->
    <!-- </group> -->


    <!-- From HERE on we have only teleop and leap nodes -->

    
    <group if="$(arg viz)">
        <node name="teleop_rviz" pkg="rviz" type="rviz" args="-d $(find teleoperation_ur5_allegro_leap)/rviz/teleop_viz.rviz" />
    </group>

    <include file="$(find haptic_glove_ros)/launch/opto2glove.launch" output="screen">
            
    </include>
</launch>