<launch>
    <arg name="xacro_path"   default="$(find ur5_allegro_moveit)/models/ur5_allegro.xacro" />
    <arg name="urdf_args"   default=""/>
    <arg name="viz"   default="true"/>
    <arg name="leap_topic"   default="/leap_motion/leap_filtered"/>
    <arg name="left_handed"   default="False"/>
    <arg name="render"   default="true"/>
    <arg name="sim" default="true"/>
    <arg name="NUM" default="0"/>
    <arg name="world_name"   default="calibration-world.xml"/>
    
    

    <include if="$(arg sim)" file="$(find teleoperation_ur5_allegro_leap)/launch/allegro_teleop_sim.launch">
        <arg name="render"        value="$(arg render)"/>
        <arg name="gui"           value="false"/>
        <arg name="sim"           value="True"/>
    </include>
    
    <include unless="$(arg sim)" file="$(find teleoperation_ur5_allegro_leap)/launch/allegro_teleop_real.launch">
        <arg name="gui"        value="false"/>
    </include>
    
    <include file="$(find teleoperation_ur5_allegro_leap)/launch/ur5_relaxed_setup.launch">
        <arg name="sim"   default="true"/>
    </include>

    <node pkg="teleoperation_ur5_allegro_leap" type="full_teleop_gui.py" name="teleop_gui" output="screen">
        <param name="arm_teleop" type="bool" value="true"/>
        <param name="hand_teleop" type="bool" value="true" />
    </node>

    


</launch>